[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=dbeaver
GenericName=Universal Database Manager
Comment=Universal Database Manager and SQL Client.
Path=/home/will/AppImages/dbeaver/
Exec=/home/will/AppImages/dbeaver/dbeaver
Icon=/home/will/AppImages/dbeaver/dbeaver.png
Categories=IDE;Development
StartupWMClass=DBeaver
StartupNotify=true
Keywords=Database;SQL;IDE;JDBC;ODBC;MySQL;PostgreSQL;Oracle;DB2;MariaDB
MimeType=application/sql
