[Desktop Entry]
Version=1.0
Type=Application
Name=OpenSCAD
Icon=/home/will/AppImages/openscad.svg
Exec=/home/will/AppImages/OpenSCAD.AppImage %f
Comment=Programmatic 3d modeling
Terminal=false
StartupWMClass=openscad
MimeType=application/x-openscad
Categories=Graphics;3DGraphics;Engineering
Keywords=3d;solid;geometry;csg;model;stl
X-AppImage-Version=2021.01
