#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WhatsApp
GenericName=WhatsApp
Comment=WhatApp desktop webapp
Exec=/usr/bin/google-chrome --app=https://web.whatsapp.com/
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=/home/will/.local/share/applications/WhatsApp.svg
Categories=Network;Application;
Keywords=WhatsApp;webapp
X-Ubuntu-Gettext-Domain=WhatsApp
StartupWMClass=web.whatsapp.com
